.controls {
    position: absolute;
    z-index: 10;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    width: auto;
    height: auto;
}

.control-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}